body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
div {
    margin: 4px;
    display: flex;
    flex-shrink: 0;
}
canvas {
    border: 2px solid black;
}
canvas.no-border {
    border: 0px solid white;
}
button {
    width: 99px;
    height: 29px;
    background-color: #888888;
    color: white;
    border: none;
    border-radius: 3px;
}
button:hover {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.align-end {
    align-items: flex-end;
}
.header {
    font-size: 119%;
    font-weight: bold;
    text-align: center;
    align-content: center;
    width: 99%;
}
.card {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.ml {
    margin-left: 5px;
}
.light {
    color: #888888;
}

#system-size {
    width: 3em;
}
#copy-notice {
    color: green;
}